body {
    direction: rtl;
}
.default-btn-two {
    margin-right: 0;
    margin-left: 4px;
}
.you-may-also-like .section-title {
    text-align: right;
}
.owl-theme .owl-nav {
    right: auto;
    left: 15%;
}
.default-btn-two i {
    margin-right: 0;
    margin-left: 2px;
}
.offset-lg-4 {
    margin-left: 0;
    margin-right: 33.333333%;
}
.section-title ul li:first-child::before {
    display: block;
}
.section-title ul li:last-child::before {
    display: none;
}

@media only screen and (max-width:767px) {
    .default-btn-two {
        margin-right: 0;
        margin-left: 0;
    }
    .offset-lg-4 {
        margin-left: 0;
        margin-right: 0;
    }
    .owl-theme .owl-nav {
        right: 0;
        left: 0;
    }
}